.input-wrapper {
    background: var(--primary);
    padding: .15em;
    border-radius: 999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    position: fixed;
    bottom: 6em;
}

.input-inner {
    background-color: var(--background);
    border-radius: 999px;
    display: flex;
    align-items: center;
    padding: 12px 18px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #555;
}

#chat-container {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    height: 100vh;
    overflow: hidden;
    flex-direction: column-reverse;
    display: flex;
}

#chat-window {
    padding-bottom: 10em;
    margin: 0 1em;
    overflow-y: scroll;
    scrollbar-width: none;
}

#ai-show {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 2;
    overflow: scroll;
    scrollbar-width: none;
    height: 50vh;
    padding-bottom: 1em;
}

#ai-show div {
    margin: 10px;
    width: 90%;
    max-width: 500px;
    padding: .5em;
    box-shadow: 0 -1px 35px -6px #000;
    transition: var(--transition);
    padding: 10px 20px;
    background-color: var(--card);
    border-radius: 22px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#ai-show h2 {
    text-align: right;
    color: var(--secondary);
}

.show {
    top: 25px;
    position: absolute;
    left: calc(50% - 240px);
}

.hidden {
    display: none !important;
}

.message {
    padding: .5em 1.5em;
    margin-bottom: 5px;
    border-radius: 50px;
    border-width: 0;
    border-style: solid;
    margin-top: 1em;
}

.message p {
    margin: 0;
    padding: .5em;
    line-height: 1.4;
    white-space: pre-wrap;
}

.user-message {
    background-color: var(--primary-light);
    text-align: right;
    align-items: flex-end;
    max-width: 80%;
    margin-left: auto;
    border-right: .18em solid var(--primary);
}

.bot-message {
    background-color: var(--secondary-light);
    text-align: left;
    align-items: flex-start;
    max-width: 80%;
    margin-right: auto;
    border-left: .18em solid var(--secondary);
}

.start-chat {
    max-width: 100%;
}

.chat-button {
    position: relative;
    left: 60%;
}

.logo-container {
    text-align: center;
    margin-bottom: 1em;
    position: relative;
    top: 0px;
    margin-bottom: 100px;
}

.logo-container img {
    max-width: 70%;
}

#input-area {
    padding: 10px;
    display: flex;
}

#send-button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    background-color: var(--primary);
    color: white;
}

#input-form {
    display: flex;
    justify-content: center;
}

#user-input {
    background: transparent;
}

/* AI SHOW CSS */

.contactTemplate,
.rooms {
    border: 1px solid var(--border);
    padding: 10px;
    margin: .5em;
    background-color: var(--card);
    border-radius: 2em;
}

.contactTemplate h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.contactTemplate p {
    margin: 5px 0;
}

.contactTemplate .buttons {
    background-color: var(--primary);
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.buttons {
    padding: 10px;
    margin-bottom: 10px;
}

.rooms {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* CSS */
.contactTemplate {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.contactTemplate h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.contactTemplate p {
    margin: 5px 0;
}

.contactTemplate .contact-button {
    background-color: var(--primary);
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.buttons {
    padding: 10px;
    margin-bottom: 10px;
}

.rooms {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .input-wrapper {
        bottom: 4.8em;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logo-container {
        margin-bottom: 50px;
    }

    .show {
        top: 25px;
        position: absolute;
        left: 30px;
    }
}